<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Time For Analyzing and See Result</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/prediction.css" rel="stylesheet">
  <link href="../static/css/tooplate-style.css" rel="stylesheet">
  
 
  <link href="../static/css/lightbox.css" rel="stylesheet">
  <link href="../static/css/owl.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent - v4.0.1
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <div id="page-wraper">
    <!-- Sidebar Menu -->
    <div class="responsive-nav">
      <i class="fa fa-bars" id="menu-toggle"></i>
      <div id="menu" class="menu">
        <i class="fa fa-times" id="menu-close"></i>
        <div class="container">
          <div class="image">
          </div>

          <div class="author-content">
            <h4>Analyze <br>Yourself</h4>
          </div>
          <nav class="main-nav" role="navigation">
            <ul class="main-menu">
              <ul class="main-menu">
                <li><a class="nav-link scrollto" href="{{url_for('train')}}">Login</a></li>
                  <li><a class="nav-link scrollto" href="{{url_for('train')}}">Train</a></li>
                  <li><a class="nav-link scrollto" href="{{url_for('stu_sta')}}">Student Status</a></li>
                  <li><a class="nav-link scrollto active" href="{{url_for('personal_behavior')}}">Personal Behaviors</a></li>
                  <li><a class="nav-link scrollto" href="{{url_for('lifestyle')}}">Lifestyle Behaviors</a></li>
                  <li><a class="nav-link scrollto active" href="{{url_for('learning')}}">Learning Behaviors</a></li>
                  <li><a class="nav-link scrollto active" href="{{url_for('marks')}}">Student Mark</a></li>
                  <li><a class="nav-link scrollto active" href="{{url_for('prediction')}}">Prediction</a></li>
                  <li><a class="nav-link scrollto active" href="{{url_for('chart')}}">Overall Analysis</a></li>
              </ul>
            </ul>
          </nav>
        </div>
        <div class="copyright-text">
        </div>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

     

      <section class="section learning-behav" data-section="section4">
        <div class="container">
          <div class="section-heading">
            <h3 align=center><p style="border: 2px solid; background-color: #e0f6ed;">Novel Approach For Student Academic Performance Prediction and Monitoring Using Machine Learning Technique.</p>
            </h3>
            <hr />
            <!-- <div class="line-dec"></div> -->
            <h4 align=center>Enter Student Details to Analyze</h4>
            <hr />
            <h5 align=center><b> Personnal Behaviors</b></h5>
          </div>
          <div class="row">
            <div class="container" data-aos="fade-up">
              <div class="section-header">
  

      <!-- <form action="{{ url_for('predict')}}" > -->
        <div class="section-title">
        </div>
        <div class="scrollable">
          <center>
            <table>
          </center>
          
          <tbody>
            <td>Gender</td>
            <td>
              <select type="text" name="sex" method="post" required="required" placeholder="0-F 1-M" width="300"
                style="width: 260px; margin-right: 50px">

                <option value="0">Female</option>
                <option value="1">Male</option>



              </select>
            </td>


            <td>Stress</td>
            <td>
              <input type="text" name="stress" method="post" required="required" placeholder="0,1,2" width="300"
                style="width: 260px" />



            </td>
          </tbody>
          <!-- Row 1 -->
          <tbody>
            <td>Age</td>
            <td>
              <input type="text" name="age" method="post" required="required" placeholder="eg.year 24" width="300"
                style="width: 260px">


            </td>
            <td>Mood</td>
            <td>
              <input type="text" name="mood" method="post" required="required" placeholder="0,1,2" width="300"
                style="width: 260px">




              </select>
            </td>
          </tbody>
          </br>
          <!-- Row 2 -->
          <tbody>
            <td>Height</td>
            <td>
              <input type="text" name="reason" method="height" required="required" placeholder="feet" width="300"
                style="width: 260px">
            </td>
         
            <td>Mental Health</td>
            <td>
              <select type="text" name="mental_health" method="post" required="required" placeholder="0,1,2"
                width="300" style="width: 260px">
                <option value="1">0 Good</option>
                <option value="0">1 Average</option>
                <option value="2">2 Bad</option>
                
              </select>
            </td>
           
          </tbody>
          </br>
          <!-- Row 3 -->
          <tbody>
            <td>Physical Status</td>
            <td>
              <input type="text" name="physical_status" method="post" required="required"
                placeholder="physical_status" width="500" style="width: 260px" />

            </td>
            <td>Intelligence</td>
            <td>
              <input type="text" name="intelligence" method="post" required="required" placeholder="0,1,2" width="300"
                style="width: 260px" />


            </td>
         
          </tbody>
          </table>
          <br><br>
          <div class="center">
            <br><br>
            <div class="form-group" style="padding:0px 250px 10px 40px;height:200px">
              <input
                  style="margin-left:200px"
                  type="button"
                  onclick="hideLoader()"
                  class="btn btn-primary"
                  value="Save And Proceed"
              >
              <div id="loading" style="display:None;margin-top:552950px"></div>
          </div>
      </div>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
            <script type="text/javascript">
  
  function hideLoader() {  
  $('#loading').show(0).hide(0,function(){
  window.location = "{{url_for('lifestyle')}}";
  });    
  }
            </script>
          </div>
  
          <div class="line-dec"></div>
          <span></span>
        </div>
        <div class="right-image-post">
          <div class="row">
  
            <div class="col-md-8">
              <div class="left-text">
  
                <div class="white-button">
  
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="right-image">
              </div>
            </div>
  
          </div>
        </div>
        <div class="left-image-post">
          <div class="row">
  
            <div class="col-md-4">
              <div class="left-image">
              </div>
            </div>
  
            <div class="col-md-8">
              <div class="right-text">
                <div class="white-button">
                 </div>
              </div>
            </div>
  
          </div>
        </div>
        </div>
    </section>
   
<!-- Vendor JS Files -->
<script src="../static/vendor/aos/aos.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../static/vendor/php-email-form/validate.js"></script>
<script src="../static/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="../static/js/main.js"></script>

</body>

</html>
     